<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/professor/turma/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../js/turma/script.js"></script>
</head>
<body>
                <header> 
                                <div class="logoSpade">
                                    <img src="../../img/icons/spade.png">
                                </div>
                            </header>
        <div class="menu">
                <div class="tituloTurma">
                        <p class="paragrafo">Você está na turma:<p id="id_turma"><%=turma%></p></p>
                        
                        <div class="botao">
                            <button type="button" class="btn btn-secondary btn-sm"><a href="/professor"><p class="teste"><img src="../../img/icons/return.png"></p></a></button>
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modalEditarTurma" id="botao"><p class="teste"><img src="../../img/icons/edit.png"></p></button>
                        </div>
                        
                </div>
                <div class="tituloAluno">
                  <div class="buscarAluno">
                      <p class="paragrafo">Buscar aluno:</p>
                      <input type="text" id="txtBusca">
                  </div>
                        
                        <div class="botao">
                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalAluno" id="botao"><p class="teste"><img src="../../img/icons/more.png"></p></button>
                        </div>
                        
                </div>
                <form action="/turma/aluno" method="post" id="form_aluno" hidden>
                    <input type="number" name="aluno_id" id="id_aluno" value="">
                </form>
                
                <div class="conteudo"> 
                    
                   
                        <!-- <input type="number" name='id_turma' id="id_turma" value="<%=turma%>" hidden> -->
                         
                </div>
            </div>

</body>
</html>